.card{
    border:none !important;
}
.featured-shop{
    max-width: 460px;
    width: 100%;
    min-width: 27%;
    margin-top: 21px;
}
.product-offer{
    background: color(primary);
    position: absolute;
    top: 0px;
    left: 0px;
    width: auto;
    height: auto;
    padding: 5px;
    padding-right: 25px;
    padding-bottom: 25px;
    font-size: 13px;
    color: color(white);
    clip-path: polygon(0 0, 100% 0, 0 100%, 0% 100%);
    .offer{
        font-size: 18px;
        font-weight: 600;
        margin-bottom: -5px;
    }
    
}
.wish-list{
    position: absolute;
    top: 6px;
    right: 6px;
    width: 40px;
    height: 40px;
    padding: 5px;
    font-size: 20px;
    text-align: center;
    i{
        color: color(favorite);
    }
}

.top-menu .category-onhover{
    display: none !important;
    position: absolute;
    width: 100%;
    top: 93px;
    z-index: 4600000000;
    left: 0;
    min-height: 300px;
    background: #fff;
    box-shadow: 0px 2px 8px #0000002e;
    &:hover{
        display: flex !important;
    }
    
}

.top-menu .category-onhover .nav-link{
    color: #000 !important;
    padding-left: 0px !important;
    padding-bottom: 0 !important;
    font-size: 13px;
}



.product-card_2{
    border-radius: 50% !important;
    height: 130px;
    width: 130px;
    text-align: center;
    .product-name{
        font-weight: weight(bold);
    }
    img{
        width: 50%;
    }
}
.product-card_3{
    border-radius: 50% !important;
    height: 70px;
    width: 70px !important;
    text-align: center;
    background: color(gray-100);
    @include shadow-1;
    @include flex-center;
}
.product-card_4{
    height: 70px;
    width: 70px !important;
    text-align: center;
    background: color(gray-100);
    @include shadow-1;
    @include d-flex-wrap;
    flex-direction: row;
    justify-content: start;
    p{
        margin: 0;
        font-size: 13px;
        text-align: center;
        width: 100%;
    }
    img{
        width:40px
    }
}
.product-card_5{
    p{  
        padding: 5px;
        text-align: center;
        background: color(gray-100);
        margin: 0px;
    }
}

.cart-card{
    width: 100%;
    height: fit-content;
    background: color(gray-200);
    margin-top: 20px;
    border-radius: 4px;
    padding: 15px;
}

.service-block{
    margin: 0px 35px;
    margin-bottom: 50px;
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 10px;
    @include flex-center;
    background: color(gray-200);
    span{
        position: absolute;
        top: 45px;
        font-size: 13px;
        font-weight: weight(medium);
        text-align: center;
        width: 110px;
    }
}

.social-media-block{
    margin: 0px 8px;
    margin-bottom: 50px;
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 10px;
    @include flex-center; 
    color:color(white) !important;
}

.payment-method{
    min-height:420px;
}

.payment-accordion{
    // @include shadow-1;
    .accordion-item{
        border: none;
    }
    .accordion-button:not(.collapsed){
        background: color(invisible);
        color: color(black);
    }
}


.user-box{
    width: 100%;
    @include d-flex-wrap;
    flex-direction: column;
    justify-content: center;
    background-image: url('../assets/user-bg.png');
    background-size: 90%;
    background-repeat: no-repeat;
    &__img{
        width: 100px;
        height: 100px;
        margin: auto;
        margin-bottom: 20px;
    }
    &__name{
        margin-bottom: 10px;
        min-width: 100%;
        text-align: center;
        font-size: 18px;
    }
}
.sidebar__menu{
    .nav-link.active{
        background: color(white);
    }
    .nav-link{
        padding: 8px 15px;
        text-decoration: none !important;
    }
}
.benefit-card{
    &__icon{
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background: color(gray-200);
        margin-right: 20px;
        @include flex-center;
    }
}

.plan-card{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    &__head{
        color:color(white);
        @include flex-center;
        @include d-flex-wrap;
        height: 200px;
        position: relative;
        background: color(primary);
        &--offer{
            font-weight: weight(semi-bold);
            font-size: 25px;
        }
        &--actual{
            font-size: 16px;
        }
        &--plan{
            font-weight: weight(medium);
            font-size: 13px;
            color: color(dark);
            position: absolute;
            top: 10px;
            left: 0;
            display: block;
            width: fit-content;
            background: color(yellow);
            padding: 3px 15px;
        }
        &--duration{
            font-weight: weight(semi-bold);
            @include d-flex;
            justify-content: center;
            align-items: flex-end;
            position: absolute;
            bottom: 0;
            padding-bottom: 10px;
            width: 100%;
            height: 60px;
            background-image: url('../assets/bg-duration.svg');
        }
    }
    &__price{
        height: fit-content;
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    &__body{
        padding: 15px;
    } 
}