.header{
    border-bottom: 1px solid #f5f5f5;
    &__left-control{
        width:275px
    }
    &__right-control{
        width: 430px;
        .btn.dropdown-toggle{
            padding: 0;
        }
    }
    &__logo{
        width: 130px;
    }
    &__location{
        img{
            width:24px
        }
        label{
            display: block;
            width: 100%;
            font-size: 13px;
        }
    }
}
.user-sec{
    width: 140px;
    img{
        width: 30px;
        height: 30px;
    }
}
.top-menu{
    background: color(gradient-1);
    .nav-link{
        color: color(white) !important;
        font-size: 13px;
    }
}
.multiline-detail{
    padding-top: 5px;
    label{
        &:first-child{
            line-height: 5px;
        }
    }
}
.cart-count{
    position: absolute;
    top: 0px;
    left: 10px;
    width: 20px;
    height: 20px;
    background: color(primary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: color(white);
    font-size: 10px;
}

.category-menu:hover ~ .category-onhover{
    display: flex !important;
}