.scoll-up{
    display: block;
    margin: 0px auto;
    width: fit-content;
    height: auto;
    padding: 8px 12px;
    background: color(white);
    text-decoration: none !important;
    color: color(dark) !important;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
@each $name, $color in $colors{
    .text-#{$name}{
        color : $color !important;
    }
    .bg-#{$name}{
        background-color: $color !important;
    }
}